.card{
    background: #f2f2f2;
    margin: 10px auto;
    max-width: 700px;
    padding: 10px 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px grey;
    margin-bottom: 20px;
    position: relative;
}