.addToCart{
    background: brown;
    border: unset;
    padding: 7px 10px;
    border-radius: 100px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
.addToCart:hover{
    background: #621b1b;
    transition: .3s;
}